:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text color */
  --main-txt-cl: #555555;
  --secondary-txt-cl: #ffffff;
  --title-txt-cl: #303030;
  --btn-txt-cl: #303030;

  /* colors */
  --accent-cl: #ff6c00;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #191c26;
  --item-bg: #f7f7f7;
  --black-cl: #000000;
  --grey-cl: #9da4bd;
  --grey-cl-alpha: rgba(157, 164, 189, 0.6);

  --linear-gradient: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );

  /* others */
  --border-radius: 25px;

  /* grid setup */
  --item: 1;
  --indent: 30px;
}

/* ======== COMMON STYLES ======== */
body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* сетка для колекции элементов */
.grid {
  display: flex;
  margin-right: calc(-1 * var(--indent));
  margin-bottom: calc(-1 * var(--indent));
  flex-wrap: wrap;
}
.grid-item {
  flex-basis: calc(100% / var(--item) - var(--indent));
  margin-right: var(--indent);
  margin-bottom: var(--indent);
}
.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;

  color: var(--title-txt-cl);
}
.under-title {
  line-height: 1.39;

  color: var(--title-txt-cl);
}
.upper-title,
.socials-link,
.features-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-txt-cl);
}
.upper-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.upper-title::before {
  display: inline-block;
  width: 60px;
  height: 1px;
  content: "";

  margin-right: 20px;

  background-color: var(--btn-txt-cl);
}
.btn {
  padding: 12px 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);

  background-color: transparent;
  border: 1px solid var(--accent-cl);
  /* border-radius: var(--border-radius); */

  cursor: pointer;
  /* different ways to set the transition property */
  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-cl);
}
.btn-accent {
  color: var(--btn-txt-cl);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--secondary-txt-cl);
}
.link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-txt-cl);

  transition: color 300ms ease-in;
}
.socials-link {
  display: block;
  text-transform: none;

  transition: color 300ms ease-in;
}
.link:hover,
.link:focus,
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-cl);
}
/* text colors */
.text-grey {
  color: #9da4bd;
}
.text-accent {
  color: var(--accent-cl);
}
.text-white {
  color: var(--secondary-txt-cl);
}

/* ======== HEADER ======== */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100vw;
  background-color: transparent;
  z-index: 999;
}
.header-bg-color {
  background-color: var(--secondary-bg-cl);
  transition: background-color 500ms linear;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  position: absolute;
  top: 25%;
  left: 15px;
}
.nav {
  margin-left: 70px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-item {
  margin-right: 40px;
}
.nav-list-item:last-child {
  margin-right: 0px;
}
.header-contacts {
  margin-left: auto;
}
.header-contacts .link {
  margin-right: 40px;
}

/* ======== HERO ======== */
.hero {
  position: relative;
  padding-top: 205px;
  padding-bottom: 205px;
  margin-left: 95px;
  margin-right: 55px;
  background-color: var(--secondary-bg-cl);

  background-image: url(../img/hero/bg.jpg),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1) 6%,
      rgba(25, 28, 38, 1) 6%,
      rgba(25, 28, 38, 1) 93%,
      #ffffff 93%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left, center;
}
.hero .socials-list {
  position: absolute;
  left: -170px;
  bottom: 170px;
  display: flex;
  align-items: center;

  transform: rotate(270deg);
}
.hero .socials-list:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--btn-txt-cl);
}
.hero .socials-item:not(:last-child) {
  margin-right: 40px;
}
.hero-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.8;
  letter-spacing: 0.05em;

  color: var(--secondary-txt-cl);
}
.hero-txt {
  width: 400px;
}
.hero-upper-title {
  color: var(--grey-cl-alpha);
}
.hero-btn-wrapper {
  position: absolute;
  right: 110px;
  bottom: 40px;
  display: flex;
  justify-content: flex-end;
}
.hero-btn {
  cursor: pointer;
  padding-bottom: 8px;
  margin-right: 16px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
  border: 0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--secondary-txt-cl);
  border-color: inherit;
}
.hero-btn:last-child {
  margin-right: 0;
}
.hero-btn:first-child {
  padding-right: 20px;
}
.hero-btn:last-child {
  padding-left: 20px;
}
.active {
  color: var(--secondary-txt-cl);
  border-color: inherit;
}

/* ======== ABOUT-US ======== */
.about-us {
  padding: 140px 0 120px;
}
.about-us-container {
  display: flex;
}
.about-us-container:before {
  display: block;
  width: 570px;
  height: 490px;
  content: "";
  margin-right: 30px;

  background-image: url(../img/about-us/img_1.jpg),
    url(../img/about-us/img_2.jpg);
  background-repeat: no-repeat;
  background-position: top left, top right;
}

.about-us-left-side {
  display: flex;
  width: 570px;
  margin-right: 64px;
}
.about-us-img + .about-us-img {
  margin-left: 30px;
}
.about-us-right-side {
  width: 500px;
}
.about-us-subtitle {
  margin-bottom: 20px;
}
.about-us-descr {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* ======== PRICE ======== */
.price {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--secondary-bg-cl);
  background-image: linear-gradient(
      to right,
      rgba(28, 28, 38, 0.7),
      rgba(28, 28, 38, 0.7)
    ),
    url(../img/price/price-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.price-list {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.price-list-item {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 40px;
  padding-right: 40px;
  width: 580px;
}
.price-list-item:nth-child(2n) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-list-item:nth-child(2n + 1) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-inner-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.price-inner-item:last-child {
  margin-bottom: 0px;
}
.price-btn {
  display: block;
  margin: 0 auto;
}
/* стилизация через родителя */
/* .price-list {
  color: var(--grey-cl);
} */
/* стилизация через дочерний селектор */
/* .price-list p {
  color: var(--grey-cl);
} */
/* стилизация по классу */
.price-list-text {
  color: var(--grey-cl);
}

/* ======== FEATURES ======== */
.features {
  padding-top: 130px;
  padding-bottom: 130px;
}
.features-container {
  --item: 2;
}
.features-numbers {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  color: var(--title-txt-cls);
}
.features-numbers:after {
  position: absolute;
  top: 27px;
  right: 0;
  display: block;
  content: "+";
  width: 14px;
  height: 22px;
  color: var(--accent-cl);

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.features-descr {
  text-transform: none;
}
.features-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-item {
  --item: 2;

  max-width: 170px;
  text-align: center;
  background-color: var(--item-bg);
  padding: 20px;
}
.features-item:nth-child(2n + 2) {
  margin-top: 30px;
}

/* ======== MASTERS ======== */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #f7f7f7;
}
.masters p {
  font-size: 14px;
  line-height: 1.35;
}
.masters-list {
  --item: 3;
}
.masters-wrapper {
  padding: 30px 30px 0 30px;
  text-align: center;
}
.masters-wrapper .under-title {
  margin-bottom: 8px;
}
.masters-wrapper .text-accent {
  margin-bottom: 30px;
}
.masters-social-links {
  display: flex;
  justify-content: center;
}
.masters-social-item:not(:last-child) {
  margin-right: 10px;
}
.masters-social-link {
  display: block;
  background-color: var(--main-bg-cl);
  border-radius: 50%;
  transition: background-color 0.25s linear;
}
.masters-social-link:hover {
  background-color: var(--main-txt-cl);
}
.masters-social-icon {
  display: block;
  fill: var(--main-txt-cl);
  transform: rotate(0);
  transition: fill 0.25s linear, transform 0.4s ease-in;
}
.masters-social-icon:hover {
  fill: var(--accent-cl);
  transform: rotate(360deg);
}

/* ======== PORTFOLIO ======== */
.portfolio {
  padding-top: 130px;
  padding-bottom: 130px;
}
.our-work {
  --item: 4;
}

.our-work li {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.our-work li::before {
  position: absolute;
  display: block;
  width: 100%;
  padding: 10px;
  content: attr(data-label);
  top: 30px;
  left: -75px;

  font-size: 12px;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.8) 100%
  );
  transform: rotate(320deg);
  z-index: 10;
}

.our-work > .grid-item img {
  transform: scale(1);
  transition: transform 1000ms ease-in-out;
}

.our-work > .grid-item:hover img {
  transform: scale(1.3);
}
.our-work-description {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /* color: var(--accent-cl); */
  color: black;
  background-image: var(--linear-gradient);
  padding: 30px;
  opacity: 0;

  transform: translate(-50%, -50%);
  transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.our-work > .grid-item:hover .our-work-description {
  opacity: 1;
}
/* ======== CONTACTS ======== */
.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--secondary-bg-cl);

  background-image: url(../img/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
.contacts-container {
  --item: 2;
  --indent: 0px;
}
.contacts-leftside {
}
.contacts-form {
  display: flex;
  align-items: flex-end;
  height: 228px;
}
.contacts-rightside {
  padding-left: 100px;
}
.contacts .title {
  margin-bottom: 40px;
}
.contacts-list {
  margin-bottom: 70px;
  width: 270px;
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-item:last-child {
  margin: 0;
}
.contacts-link,
.contact-time {
  font-size: 18px;
  line-height: 1.67;

  color: var(--grey-cl);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-cl);
}

/* ======== FOOTER ======== */
.footer {
  padding-top: 55px;
  padding-bottom: 55px;
}
.footer-container {
  display: flex;
  align-items: center;
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

.footer .social-list {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.footer .social-list::before {
  display: inline-block;
  width: 60px;
  height: 1px;
  content: "";

  margin-right: 20px;

  background-color: var(--btn-txt-cl);
}

.footer .social-item:not(:last-child) {
  margin-right: 40px;
}
